.container {
  margin-top: 60px;
}
.list {
  width: 90%;
  margin: 0 auto;
}
.card {
  padding: 10px;
  margin: 10px 0;
}
.info div,
.info p {
  padding: 0 15px 0 0;
}
.heart {
  font-weight: 900;
  color: white;
}
.grow-2 {
  flex-grow: 2;
}
.nav-pills .nav-link {
  border-radius: 0;
  background-color: #edeff1;
}
.left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #2980b9;
}
.nav-pills a {
  color: #2980b9;
  border: 1px solid #2980b9;
}
.flex-column {
  padding-left: 10px;
}

h5 a {
  text-decoration: none;
}

h5 a:hover {
  text-decoration: underline;
}
